
.playerband {
	width: 100%;
	background-color: #333;
	text-align: center;
}

#player {
	background-color: black;
	height: 480px;
	width: 853px;
	display: inline-block;
}

.buttons {
	width: 861px;
	margin-left: auto;
	margin-right: auto;
}

.btn-group {
	width: 100%;
	text-align: center;
}

.buttons div {
	display: inline-block;
}

.buttons a {
	display: inline-block;
	width: 25%;
}

#contact {
	margin: 7px;
}

.container {
	margin-top: 40px;
}

.logos a {
	margin-bottom: 10px;
	margin-right: 8px;
	display: inline-block;
}

h1 {
	margin-top: 3px;
	margin-bottom: 1px;
	font-size: 28px;
	display: inline-block;
}
