
.playerband {
	width: 100%;
	background-color: #333;
	text-align: center;
	margin-top: 30px;
}

#player {
	background-color: black;
	height: 480px;
	width: 853px;
	display: inline-block;
}

.buttons {
	width: 853px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
